@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
 
    background: url(./img/2641100.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
	max-width: 1500px;
	display:flex;
	justify-content: space-between;
	margin: auto;
	font-size: 20px;
	padding: 0px 0px 0px 5px;
	align-items:end;
	background-color:rgb(2, 2, 2, 0.3);
	border: 2px solid rgb(255, 255, 255); 
}

h1{
	color: white;
	font-weight: bolder;
	font-size: 45px;
}




.logo{
	color: white;
	font-weight:bolder;
	font-size: 40px;
	padding: 1px 1px 20px 1px;
	margin: 0px;
}

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 10px;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: rgb(255, 255, 255);
	text-decoration:none;
	margin: 10px 0px;	
}
.menu-horizontal > li:hover{
	background-color: rgb(10, 14, 219);
}

.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}

.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 20px 5px;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;
}

.cabecera-pagina{ 
	display: block;
	padding: 15px 20px;
	color: rgb(255, 255, 255);
	text-decoration:none;
	margin: 10px 0px;
}
.cabecera-pagina-movil{
	visibility: hidden;
	display: none;
}

@media screen and (max-width: 800px) {
	body {
		/*flex-direction:column;*/
		background-color: brown;
		/*background: url(./img/2641100.gif);*/
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
	}
	.logo{
		color: rgb(241, 241, 241);
		font-size: 50px;
	}
	.menu-horizontal{
		list-style: none;
		display:flex;
		justify-content:flex-start;
		margin: 10px;
	}

	.menu-horizontal > li > a{
		display: block;
		padding: 15px 20px;
		color: rgb(18, 250, 211);
		text-decoration:none;
		margin: 10px 0px;	
	}
	.cabecera-pagina{
		visibility: hidden;
        display: none;
		color: brown;
	}

	.cabecera-pagina-movil{
		display: block;
		padding: 15px 20px;
		color: rgb(255, 255, 255);
		text-decoration:none;
		margin: 10px 0px;
	}
	.cabecera-pagina-movil{
		visibility:visible;
		display:block;
	}
}

.box{
	height: 100px;
	width: 100px;
	background-color: rgb(23, 217, 243);
	font-size: 40px;
}

.body-box{
display: flex;
justify-content: space-around;
align-items: end;
min-height: 100px;
flex-direction: column;
gap: 10px; /*espacio entre los objetos*/
flex-wrap:wrap;
}