@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
 
    background: url(./img/2641100.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
	max-width: 1500px;
	display:flex;
	justify-content: space-between;
	margin: auto;
	font-size: 20px;
	padding: 0px 0px 0px 5px;
	align-items:end;
	background-color:rgb(2, 2, 2, 0.3);
	border: 2px solid rgb(255, 255, 255); 
}

h1{
	color: white;
	font-weight: bolder;
	font-size: 45px;
}




.logo{
	color: white;
	font-weight:bolder;
	font-size: 40px;
	padding: 1px 1px 20px 1px;
	margin: 0px;
}

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 10px;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: rgb(255, 255, 255);
	text-decoration:none;
	margin: 10px 0px;	
}
.menu-horizontal > li:hover{
	background-color: rgb(10, 14, 219);
}

.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}

.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 20px 5px;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;
}

.cabecera-pagina{ 
	display: block;
	padding: 15px 20px;
	color: rgb(255, 255, 255);
	text-decoration:none;
	margin: 10px 0px;
}
.cabecera-pagina-movil{
	visibility: hidden;
	display: none;
}

@media screen and (max-width: 800px) {
	body {
		/*flex-direction:column;*/
		background-color: brown;
		/*background: url(./img/2641100.gif);*/
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
	}
	.logo{
		color: rgb(241, 241, 241);
		font-size: 50px;
	}
	.menu-horizontal{
		list-style: none;
		display:flex;
		justify-content:flex-start;
		margin: 10px;
	}

	.menu-horizontal > li > a{
		display: block;
		padding: 15px 20px;
		color: rgb(18, 250, 211);
		text-decoration:none;
		margin: 10px 0px;	
	}
	.cabecera-pagina{
		visibility: hidden;
        display: none;
		color: brown;
	}

	.cabecera-pagina-movil{
		display: block;
		padding: 15px 20px;
		color: rgb(255, 255, 255);
		text-decoration:none;
		margin: 10px 0px;
	}
	.cabecera-pagina-movil{
		visibility:visible;
		display:block;
	}
	body{
 
		background: url(./img/WhatsApp\ Video\ 2024-09-01\ at\ 21.21.36.gif);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}

.box{
	height: 100px;
	width: 100px;
	background-color: rgb(23, 217, 243);
	font-size: 40px;
}

.body-box{
display: flex;
justify-content: space-around;
align-items: end;
min-height: 100px;
flex-direction: column;
gap: 10px; /*espacio entre los objetos*/
flex-wrap:wrap;
}



@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

.main{
    position: relative;
    overflow: hidden;
    height: 80vh;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(to bottom right,#3336f1,#daccf3);
    box-shadow: 0.1px 4px 8px 4px rgba(0,0,0,0.5);
}


.top_section{
  margin: 1em 0;
}
.top_section h5{
	color: #fff;
	font-size: 1.5em;
	font-family: 'Charmonman', cursive;
}



.tracks{
  width: 90%;
  max-height: 75vh;
  overflow-y: scroll;
  padding: 10px 0;
  padding-bottom: 50px;
}
.tracks::-webkit-scrollbar {
  display: none;
}
.tracks .song:not(:first-child){
  margin-top: 1em;
}
.tracks .song{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 5px;
  border-radius: 0 20px 20px 20px;
  box-shadow: 0.1px 2px 2px rgba(0,0,0,0.1);
}
.tracks .song .more{
  margin-left: 1.2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tracks .song .song_info p:nth-child(2){
  font-size: 0.8em;
  margin-top: 10px;
  color: rgba(255,255,255,0.5);
}
.tracks .song  #play_btn{
  height: 50px;
  width: 50px;
  border:none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  color: #fff;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
			inset -5px -5px 15px rgba(255,255,255,0.1),
			-5px -5px 15px rgba(255,255,255,0.1);
}
.tracks .song button i{
			font-size: 1.5em;
}
.tracks .song:not(:first-child){
			margin-top: 15px;
}
.tracks .song .img{
  height: 70px;
  width: 80px;
  overflow: hidden;
  border-radius: 15px;
}
.tracks .song .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.controlls{
		   width: 75%;
		   margin-top: 2.5em;
}
.progress_part{
			width: 100%;
			margin-bottom: 2em;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;
}
.progress_part p{
  color: #fff;
}
.progress_part .durations{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
} 
.progress_part #slider{
  width: 100%;
}
.controlls_btns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controlls_btns button{
  height: 50px;   
  width: 50px;   
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 0.5em;
  background: none;
  transition: 0.5s;
  border-radius: 50%;
}
.controlls_btns button:hover{	
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
			inset -5px -5px 15px rgba(255,255,255,0.1),
			5px 5px 15px rgba(0,0,0,0.3),
			-5px -5px 15px rgba(255,255,255,0.1);
}
.controlls_btns button i{
  font-size: 1.3em;
}

.controlls_btns button:nth-child(2){
  border-radius: 50%;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
			inset -5px -5px 15px rgba(255,255,255,0.1),
			5px 5px 15px rgba(0,0,0,0.3),
			-5px -5px 15px rgba(255,255,255,0.1);
}
.controlls_btns button i{
  color: #fff;
}



#slider{
  -webkit-appearance: none;
  outline: none;
  width: 85%;
  height: 4px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  background: #456ffa;
  box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2) inset,
	            0.1px 8px 8px 2px rgba(0,0,0,0.2);
}



.main .popup_music_player{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6a5bf5;
  padding: 5px;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px 15px 0 0;
  transform: translateY(110%);
  transition: 0.4s;
  box-shadow: 0.1px 4px 8px 4px rgba(0,0,0,0.5);
}


.top{
  width: 100%;
  padding: 10px 20px;
  color: #ccc;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}
.top p{
  font-family: 'Charmonman', cursive;
}
.top i{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
background: rgba(255,255,255,0.1);
}
.popup_music_player .song_img{
margin-top: 2em;
height: 200px;
width: 200px;
border-radius: 50%;
overflow: hidden;
box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
            inset -5px -5px 15px rgba(255,255,255,0.1),
			5px 5px 15px rgba(0,0,0,0.3),
			-5px -5px 15px rgba(255,255,255,0.1);
}
.popup_music_player img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.song_description{
  margin-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.song_description h3{
  font-size: 1.2em;
  color: #fff;
}
.song_description p{
  color: #ccc;
  margin-top: 5px;
}


.small_music_player{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 20px 20px 0 0;
  background: #673AB7;
  transition: 0.4s;
  transform: translateY(80px);
}
.s_player_img{
  position: relative;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 2em;
  box-shadow: 0.1px 4px 8px 5px rgba(0,0,0,0.3);
}
.playing_img{
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
.small_music_player p{
  color: #fff;
}
.s_player_img .playing_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#up_player{
  position: absolute;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(255,255,255,0.1);	
}
#artist_name{
  font-size: 0.8em;
  margin-top: 5px;
  color: rgba(255,255,255,0.5);
}



.wave_animation{
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  opacity: 0;
}
.wave_animation li{
  list-style: none;
  width: 5px;
  margin: 0 3px;
  border-radius: 15px;
  background: rgba(255,255,255,0.4);
  animation: animate 0.5s linear alternate infinite;
			
}
.wave_animation li:nth-child(2){
  animation-delay: 0.4s;
}
.wave_animation li:nth-child(3){
  animation-delay: 1s;
}
.wave_animation li:nth-child(4){
  animation-delay: 0.4s;
}
.wave_animation li:nth-child(5){
  animation-delay: 1s;
}



@keyframes animate {
  0%{
    height: 0px;
  }
  100%{
	height: 20px;
  }
}